<h1>Sign in</h1>
<%= form_tag sessions_path do %>
    Email :
    <input type="email" name="email"><br>
    Password :
    <input type="password" name="password"><br>
    <input type="submit" name="Sign in">
<% end %>
